*{
margin:0;
padding:0;
}

a{
text-decoration:none;
}

html, body{
width:100%;
height:100%;
}

body{
overflow:hidden;
background:#F0F0F0;
}

/* canvas area */
#canvasArea{
position:absolute;
top:50%;
left:50%;
width:640px;
height:480px;
margin-top:-241px;
margin-left:-321px;
border:solid 1px #CCCCCC;
background:#FFFFFF;
z-index:0;
}

#canvas{
position:absolute;
top:0;
left:0;
background:#FFFFFF;
z-index:1;
}

#pointer{
position:absolute;
top:0;
left:0;
width:4px;
height:4px;
background:#FF9966;
z-index:2;
}

/* control menu */
#controlMenu{
position:absolute;
height:48px;
list-style-type:none;
z-index:100;
}

#controlMenu li{
float:left;
height:48px;
margin:0 16px;
line-height:48px;
}

#controlMenu li a{
color:#0000FF;
font:normal 16px sans-serif;
}

#controlMenu li a:hover{
text-decoration:underline;
}

#controlMenu li a:active{
color:#FF9933;
}

/* panels */
#panels{
list-style-type:none;
position:absolute;
z-index:300;
}

#panels li{
position:absolute;
-webkit-border-radius:8px;
-webkit-box-shadow:#666666 1px 1px 8px;
}

/*  editor */
#editor{
min-width:300px;
min-height:400px;
width:300px;
height:400px;
background:#FF6666;
}

#control{
margin:16px;
}

.editorTop{
height:24px;
margin:0 0 16px 0;
}

.closeBox{
float:left;
width:88px;
}

#close{
color:#FFFFFF;
font:normal 14px sans-serif;
}

#close:hover{
text-decoration:underline;
}

#close:active{
color:#DDDDDD;
}

.sampleSelector{
float:right;
width:180px;
}

.sampleSelector select{
width:100%;
}

.editorMid{
margin:-4px 8px 20px 8px;
height:280px;
}

.editorMid p{
height:100%;
}

.sourceMain{
width:100%;
height:100%;
margin:-8px 0 0 -8px;
padding:8px;
resize:none;
border:none;
outline:none;
font:normal 15px/18px sans-serif;
}

.editorBottom{
height:32px;
margin:8px 0 0 0;
}

.runButton{
width:100%;
height:100%;
}

#runCode{
display:block;
width:100%;
height:100%;
background:#6666FF;
color:#FFFFFF;
font:normal 16px sans-serif;
text-align:center;
line-height:32px;
}

/* setting */
#setting{
width:300px;
height:200px;
background:#66CC88;
}

#preference{
margin:2px 16px 16px 16px;
}

.settingTitle{
width:48px;
height:24px;
margin:2px auto;
color:#FFFFFF;
font:normal 16px/24px sans-serif;
text-align:center;
}

.settingItem{
padding:2px 0;
color:#FFFFFF;
font:normal 14px/18px sans-serif;
}

.settingItem select{
width:100%;
}

#error{
width:268px;
height:268px;
background:#994C00;
padding:8px 16px 16px 16px;
}

.errorTitle{
width:80px;
height:24px;
margin:auto;
color:#FFFFFF;
font:normal 16px/24px sans-serif;
text-align:center;
}

#errorPanel{
width:268px;
height:244px;
overflow-y:auto;
background:#FFFFFF;
}

#errorPanel div{
padding:4px;
font:normal 13px sans-serif;
border-bottom:solid 1px #CCCCCC;
}

/* error indicator */
.errorIndicator{
position:absolute;
bottom:2px;
right:2px;
z-index:200;
font:normal 15px sans-serif;
}
#errorIndicator{
color:#AA0000;
}